*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Seccion nav */

.navegation-div{
    background-color:#2c2c2c;
    padding-top: 15px;
}
nav ul {
    display: flex;
    list-style: none;
    margin-top: -35px;
}
.navegation-logo{
    padding: 10px 15px;
}
nav{
    background-color: #2c2c2c;
    display: flex;
    justify-content: flex-end;
}
.nav-enlace{
    color: #f83d88;
    text-decoration: none;
    border: 1px solid #f83d88;
    border-radius: 8px;
    padding: 6px 15px;
    margin: 0px 5px;
}
.nav-enlace:hover{
    color: #fff;
    background-color:#f83d88;
    transition: .5s;
}
.nav-responsive{
    position: relative;
    color: #f83d88;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 5px;
    display: none;

}

/* Banner */ 

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #2c2c2c;
    width: 100%;
    height: 10vh;
}
.button {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #2c2c2c;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    transition: all 0.5s;
    margin: 0px;
}
.button span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button:hover span {
    padding-left: 25px;
}
.subtittle{
    text-align: center;
    color:#fff;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
}
.checkboxs-buscador{
    color: #fff;
    background-color:  #2c2c2c;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-left: 25px;
}
.input-group{
    margin: 5px;
    padding: 5px;
    justify-content: end;
    align-items: center;
}
.buttonsearch{
    height: 45px;
    padding: 5px;
    margin: 0px 5px;
    border: none;
    background-color: #2c2c2c;
    color:  #f83d88;
}

.bg-main-home-upcommingevents{
    border-top: 2px solid #f83d88;
    display: flex;
    background-color: #fff;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.seccion-cards{
    margin: 10px 35px;
}
.card{
    padding: 15px 15px;
}
.card img{
    box-shadow: 0px 0px 8px 8px rgba(94, 94, 94, 0.3)
}
.card-body{
    display: block;   
    text-align: center;
}
.card-body2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Seccion detail event */

.bg-main-event{
    height: 85vh;
    background-color: #ffdcdc;
    padding: 20px;
} 
.seccion-card-event{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.card-event{
    display: inline-flex;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
    width: 80%;
    height: 45vh;
}
.card-event img{
    box-shadow: 0px 0px 10px 10px rgba(17, 17, 17, 0.3)
}
.card-event-body {
    display: inline-block;
    border: 1px solid black;
    margin: 20px;
    padding-top: 50px;
    text-align: center;
    width: 50%;
}

/* Seccion contact */

.bg-main-contact{
    border-top: 2px solid #f83d88;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 
.formulario{
    padding: 30px;
    margin: 50px;
    width: 50%;
}
.formulario .btn {
    margin-top: 20px;
    border: 1px solid #f83d88;
    background-color:transparent;
    color: #f83d88;
}
.formulario .btn:hover{
    color: #fff;
    background-color: transparent;
    border: 1px solid #f83d88;
    background-color:#f83d88;
}
.subtittle2{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color:#f83d88;
    font-size: 30px;
    font-style: oblique;
    font-weight: 400;
}

/* Seccion stats */

.bg-main-stats{
    border-top: 2px solid #f83d88;
    display: flex;
    background-color: #fff;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

table{
    width: 80%;
}
table, td, th{
    padding: 15px 3px;
    border: 1px solid black;
}
tbody td{ 
    border: 1px solid black;
}
th{
    color: #fff;
    background-color:  #2c2c2c;
}

/* Footer */ 

.footer{
    border-top: 2px solid #f83d88;
    display: flex;
    background-color: #181818;
}
.iconos-footer{
    color: #fff;
    padding-left: 20px;
    background-color: #181818;
    height: 10vh;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.spanfooter{
    color: #fff;
    padding: 15px;
    display:flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}


@media screen and (min-width: 1200px) {

    .banner{
        display: flex;
        height: 10vh;
        padding-top: 25px;
        padding-bottom: 20px;
        text-align: center;
    }
    .checkboxs-buscador{
        background-color:  #2c2c2c;
        display: flex;
        flex-wrap: nowrap;
        padding-left: 20px;
    }
    .input-group{
        margin-top: 0px;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .buttonsearch{
        height: 40px;
        padding: 5px;
        margin: 0px 5px;
        border: none;
        background-color:  #2c2c2c;
    }
    .bg-main-home-upcommingevents{
        display: unset;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    .seccion-cards{
        display: flex;
        flex-direction: row;
        margin: 10px 35px;
    }
    .card{
        width: 100%;
        padding: 30px 25px;
    }
    .bg-main-event{
        padding: unset;
    }
    .card-event{
        display: block;
        margin-top: unset;
        width: 50%;
        height: 80vh;
    }
    .card-event img{
        width: 100%;
        height: 40vh;
    }
    .card-event-body {
        margin: unset;
        height: 30vh;
        padding-top: 10px;
        margin-top: 15px;
        border-radius: 5px;
        width: 100%;
    }

    .formulario {
        width: 60%;
    }
    .bg-main-stats{
        display: block;
        height: unset;
        background-color: #fff;
    }
    table{
        background-color: #fff;
        width: 100%;
        flex-direction: column;
    }
    .table, td, th{
        padding: unset;
        padding: 10px;
    }
}

 @media screen and (max-width: 700px) {
    nav{
        display: none;
    }    
    .nav-responsive{
        display: inline-flex;
        justify-content: flex-end;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        padding: 10px 0;
    }

    .checkboxs-buscador{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .input-group{
        margin: 10px;
        padding: 10px;
        justify-content: center;
    }
    .buttonsearch{
        height: 40px;
        padding: 5px;
        margin: 0px 5px;
        border: none;
        color: #f83d88;
    }

    .bg-main-home-upcommingevents{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
}
    .seccion-cards{
        display: flex;
        flex-direction: row;
        margin: 5px 5px;
        flex-wrap: nowrap;
    }
    .card{
        padding: 20px 15px;
    }
    
    .bg-main-event{
        padding: unset;
    }
    .card-event{
        display: block;
        margin-top: unset;
        width: 80%;
        height: 80vh;
    }
    .card-event img{
        width: 100%;
        height: 40vh;
    }
    .card-event-body {
        margin: unset;
        height: 30vh;
        padding-top: 10px;
        margin-top: 15px;
        border-radius: 5px;
        width: 100%;
    }
    .formulario {
        width: 80%;
    }

    .bg-main-stats{
        display: block;
        height: unset;
        background-color: #fff;
    }
    table{
        background-color: #fff;
        width: 100%;
        flex-direction: column;
    }
    .table, td, th{
        padding: unset;
        padding: 10px;
    }
}