*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Seccion header */

#header{
    background-image: url(/assets/backgroundbody15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 60px;
}

.navegation-div{
    padding-top: 15px;
}
nav ul {
    display: flex;
    list-style: none;
    margin-top: -35px;
}
.navegation-logo{
    padding: 10px 15px;
}
nav{
    display: flex;
    justify-content: flex-end;
}
.nav-enlace{
    color: #f83d88;
    text-decoration: none;
    border: 1px solid #f83d88;
    border-radius: 8px;
    padding: 6px 15px;
    margin: 0px 5px;
}
.nav-enlace:hover{
    color: #fff;
    background-color:#f83d88;
    transition: .5s;
}
.nav-responsive{
    position: relative;
    color: #f83d88;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 5px;
    display: none;

}

/* Banner */ 

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}
.button {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    transition: all 0.5s;
    margin: 0px;
}
.button span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button:hover span {
    padding-left: 25px;
}
.subtittle{
    text-align: center;
    color:#fff;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
}
.bg-main-home-upcommingevents{
    background-color: #250a01;
    min-height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card img{
    box-shadow: 0px 0px 8px 8px rgba(94, 94, 94, 0.3)
}

.catebus{
    font-size: 17px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

/* Seccion detail event */

.pagevent {
    height: 100vh;
}

.cardevent>.card{
    max-width: 95%;
    margin: 50px;
    padding: 35px;
}

/* Seccion contact */

.bg-main-contact{
    background-color:#250a01;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 
.formulario{
    padding: 30px;
    margin: 50px;
    width: 50%;
    color:#fff;
}
button.btn {
    margin-top: 10px;
    border: 1px solid  #db9137;
    border-radius: 10%;
    background-color: #db9137;
    color: #fff;
}
button.btn:hover{
    color: #fff;
    background-color: transparent;
    border: 2px solid #f3cd9d;
    background-color: #ffc400;
}
.subtittle2{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    font-weight: 400;
}

/* Seccion stats */

.bg-main-stats{
    height: 100vh;
    display: flex;
    background-color: #250a01;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

table{
    width: 80%;
}
table, td, th{
    padding: 15px 3px;
    border: 1px solid 
}
tbody td{ 
    border: 1px solid #fff;
    color: #fff;
}
th{
    color: #fff;
    background-color:rgba(41, 6, 6, 0.938);
}

/* Footer */ 

.footer{
    display: flex;
    background-color:#000;
}
.iconos-footer{
    color: #fff;
    padding-left: 20px;
    background-color: #000;
    height: 10vh;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.spanfooter{
    color: #fff;
    padding: 15px;
    display:flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}


@media screen and (min-width: 1200px) {

    .banner{
        display: flex;
        height: 10vh;
        padding-top: 25px;
        padding-bottom: 20px;
        text-align: center;
    }
    .bg-main-home-upcommingevents{
        display: unset;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    .card{
        width: 100%;
        padding: 30px 25px;
    }
    
    .formulario {
        width: 60%;
    }
    .bg-main-stats{
        display: block;
        height: unset;
        background-color:#250a01;
        height: 100vh;
    }
    table{
        margin-top: 25px;
        background-color: #250a01;
        width: 100%;
        flex-direction: column;
    }
    .table, td, th{
        padding: unset;
        padding: 10px;
    }
}

 @media screen and (max-width: 700px) {
    nav{
        display: none;
    }    
    .nav-responsive{
        display: inline-flex;
        justify-content: flex-end;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        padding: 10px 0;
    }

    .bg-main-home-upcommingevents{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
    }

    .catebus{
        flex-direction: column;
        margin: 10px;
    }
    .card{
        padding: 20px 15px;
    }
    
    .formulario {
        width: 80%;
    }

    .bg-main-stats{
        display: block;
        height: unset;
        background-color:#250a01;
    }
    table{
        margin-top: 35px;
        width: 100%;
        flex-direction: column;
    }
    .table, td, th{
        padding: unset;
        padding: 10px;
    }
}